*.jpg
*.jpeg
*.png
*.gif
*.pyc
*.psd

.DS_Store
settings.py
.sass-cache/*
node_modules/*
*.ai
*.svg
*.pdf
*.eps
*.zip
*.rb
*.db
*.sqlite3
env/*

application/draftPrint/*
application/testlist/*
application/burdock/migrations/*
application/static/css/style.css

shopify/node_modules/*
shopify/secret.json